<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://jerezfam.com/ns/1.0"
    id        = "com.jerezfam.application"
    version   = "1.0.0">

<name>JerezFam</name>

<description>
Proyecto JerezFam app
</description>

<author href="http://www.jerezfam.com" email="juanlu@jerezfam.com">
Juanlu Blanco
</author>

</widget>
